@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


:root {

    /*-----------Primary Colors---------*/
    --hue: 170;
    --brand-green: hsl(var(--hue), 100%, 26%);
    --brand-green-light: hsl(calc(var(--hue) - 22), 23%, 89%);
    --brand-green-light-02: hsl(calc(var(--hue) + 10), 14%, 97%);
    --brand-beige: hsl(39, 100%, 97%);
    --brand-green-hover: hsl(var(--hue), 100%, 14%);


    /*-----------Secondary Colors-------*/
    --gray-headline: hsl(210, 11%, 15%);
    --gray-paragraph: hsl(210, 9%, 31%) ;
    --white: #FFFFFF;


    /*-----------Fonts-----------------*/
    --font-family: 'DM Sans', sans-serif;
    
    font-size: 62.5%; /*1rem = 10px*/

    --nav-height: 7.2rem;

}

/*---------------RESETS------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*---------------BASICS------------------------------------*/
html {
    scroll-behavior: smooth; /*rolagem suave*/
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay; /*barra de rolagem fica por cima do layout*/
    background-color: var(--brand-green-light-02);
}

.wrapper {
    width: min(50rem, 100%); /*se a dimensão for menor que 500px, será ocupado 100% da caixa pai*/
    margin-inline: auto;
    padding-inline: 2.4rem;
}

section {
    padding-block: 10rem;
}

section header h4 {
    margin-bottom: 1.6rem;
    
    font-weight: 700;
    line-height: 150%;
    font-size: 1.4rem;
    letter-spacing: 0.08em;
    
    text-transform: uppercase;

    color: var(--brand-green);
}

section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--gray-headline);
}

section header h1 {
    color: var(--gray-headline);
    font-size: 3.4rem;
    margin-bottom: 2.4rem;
    line-height: 130%;
}

section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--gray-paragraph);
}

.social-links {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    filter: invert(100%) saturate(0%) brightness(200%);
}

/*---------------LOGO-------------------------------------*/
.logo {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--gray-headline)
}

.logo span {
    font-weight: 700;
    color: var(--brand-green);
}


/*---------------NAVIGATION--------------------------------*/
nav {
    display: flex;
    
    height: var(--nav-height);
    width: 100vw;
    position: fixed; 
    top: 0;
    z-index: 100;
 }

nav > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background-color: var(--brand-green);
}

nav.scroll .logo {
    color: white;
}

nav.scroll .open-menu {
    filter: invert(100%) saturate(0%) brightness(200%);
}
.linkedin{
    fill: white
}

/*---------------MENU EXPANDED----------------------------------------*/
body.menu-expanded {
    overflow: hidden; /*Remove todo o scroll*/
    font-family: var(--font-family);
}

.menu {
    transform: translateY(100%);
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--brand-green);
    
    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);
    
    transform: translateY(0);
    transition: transform .3s;
}

body.menu-expanded > :not(nav) { /*Todos os elementos do primeiro nível são desabilitados, exceto o nav*/
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    display: none;
    visibility: hidden; /*Esconde o menu e botão close*/
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    display: block;
    visibility: visible;
}


body.menu-expanded .logo,
.close-menu {
    position: relative;
    z-index: 100;
    color: white;
}

.menu ul li a {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
   
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--white);
}

.menu ul  {
    margin-top: 13.2rem;
}


.menu .social-links {
    justify-content: center;
}

/*---------------HOME------------------------------------*/
#home {
    padding-block: 0;
    padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
    content: '';
    width: 100%;
    height: calc(110% + var(--nav-height));
    background-color: var(--brand-green-light);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home p {
    color: var(--gray-paragraph);
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    line-height: 150%;
}

/*---------------IMAGES-------------------------------------*/
.img-woman {
    margin-top: 6rem;
    height: 34.2rem;
    margin-bottom: -6px;
}

.img-pattern {
    max-width: 100%;
}

/*---------------STATS--------------------------------------*/
#home .stats {
    width: 100%;
    padding-block: 4rem;
    margin-inline: auto; 
    
    background: var(--brand-beige);
    border: 1px solid var(--brand-green-light);
    border-radius: 0.6rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

#home .stats h3 {
    font-size: 4.8rem;
    color: var(--gray-headline);
}

#home .stats p {
    font-size: 1.6rem;
    color: var(--brand-green);
    margin: 0;
}

/*---------------BUTTONS----------------------------------------*/
.primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    padding: 1.6rem 3.2rem;
    margin: auto;

    background-color: var(--brand-green);
    color: var(--white);
    border-radius: 4rem;
    border: none;
    cursor: pointer;
    
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 18px;
    text-transform: uppercase;
}

.primary-button img {
    width: 2rem;
}

.primary-button:hover {
    background-color: var(--brand-green-hover);
    transition: 0.2s;
}

button.open-menu,
.close-menu {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.secondary-button {
    font:  normal 700 1.8rem var(--font-family);
    text-transform: uppercase;
    color: var(--brand-green);
    background-color: var(--white);
    border: none;
    border-radius: 4rem;
    padding: 1.6rem 3.2rem;
    margin-bottom: 8rem;
    margin-top: 4.8rem;
}

.secondary-button:hover {
    background-color: var(--brand-green-hover);
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

/*---------------SERVICES----------------------------------------*/
#services header h2 {
    margin-bottom: 6rem;
}


#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card {
    padding: 2.4rem;
    text-align: left;
    background-color: var(--white);
    border: 1px solid var(--brand-green-light);
    border-radius: .6rem;
}

#services .card h3 {
    margin-block: 1.6rem;
}

/*---------------ABOUT----------------------------------------*/
#about {
    text-align: left;
    background-color: var(--brand-beige);
    color: var(--gray-paragraph);
}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about .content p {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
}

/*---------------CONTACT----------------------------------------*/
#contact {
    text-align: left;
}

#contact header {
    margin-bottom: 3.2rem;
    
}

#contact ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#contact ul li {
    display: flex;
    align-items: center;
    gap: .8rem;
}

#contact button {
    margin: 3.2rem 0 6rem 0; 
}

/*---------------FOOTER----------------------------------------*/
footer {
    background-color: var(--brand-green);
    padding-block: 6rem;
    display: flex;
    justify-content: left;

    text-align: left;
    
    color: var(--white);
}

footer .logo {
    font-size: 4.2rem;
    color: var(--white);
}

footer p {
    color: var(--brand-beige);
    line-height: 3rem;
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
}

footer .social-links {
    justify-content: flex-start;
}

.insta:hover,
.git:hover,
.linkedin:hover{
    transform: scale(1.3);
}


/*---------------BACK TO TOP---------------------------------------*/
#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
    transition: .2s;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#backToTopButton:hover{
    transform: scale(1.3);
}

/*---------------RESPONSIVO---------------------------------------*/
@media (min-width: 1024px) {
   /*---------------GERAL---------------------------------------*/
   body {
    overflow: auto;
    /*barra de rolagem não sobrepõe mais o layout*/
   }
   
   .wrapper {
       width: min(112rem, 100%);
       display: grid;
   }

   .col-a {
        grid-area: A;
    }
    
    .col-b {
        grid-area: B;
    }
   
   section {
    padding-block: 16rem;
   }

   section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
   }


   /*---------------NAVIGATION---------------------------------------*/
   
    /*-----> reset <-----*/
    nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    transform: initial;
    }

    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .social-links {
        display: none;
    }
    
    nav#navigation .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }

    /*-----> buttons <-----*/
    nav#navigation .menu .secondary-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2.4rem;

        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: uppercase;
        
        background-color: white;
        color: var(--brand-green);
        border: 1px solid var(--brand-green);
    }

    nav#navigation.scroll .menu .secondary-button {
        border: 1px solid white;
        color: white;
        background-color: var(--brand-green);
    }

    nav#navigation .menu .secondary-button:hover {
        background-color: var(--brand-green);  
        color: white;
    }

    nav#navigation.scroll .menu a.active .secondary-button,
    nav#navigation.scroll .menu a .secondary-button:hover {
        background-color: var(--brand-green-hover);      
    }

    /*-----> menu <-----*/
    nav#navigation .menu ul:nth-child(1) {
        display: flex;
        flex-direction: row;
        gap: 3.2rem;
    }
    
    nav#navigation .menu li a {
        font-weight: 400;
    }
    
    nav#navigation .menu li a.active,
    nav#navigation .menu li a:hover {
        opacity: 1;
        font-weight: 700;
    }

    nav#navigation .menu li a::after {
        content: '';
        width: 0%;
        height: 2px;
        background-color: var(--brand-green);

        position: relative;
        bottom: -2.4rem;
        left: -0.8rem;

        display: block;
        transition: width 0.2s;
    }

    nav#navigation .menu li a.active::after,
    nav#navigation .menu li a:hover::after {
        padding-inline: 0.8rem;
        width: 100%;
    }

    nav#navigation .menu ul li a {
        font-size: 1.6rem;
        color: var(--brand-green);
        opacity: .7;
        display: inline;
        transition: opacity .4s;
    }

    nav#navigation.scroll .menu ul li a {
        color: var(--brand-green-light-02);
        opacity: 0.6;
    }

    nav#navigation.scroll .menu li a.active,
    nav#navigation.scroll .menu li a:hover {
        opacity: 1;
    }

    nav#navigation.scroll li a::after {
        background-color: white;
    }
    

     /*---------------HOME---------------------------------------*/
    #home {
        padding-block: 0;
        padding-top: var(--nav-height);

    }
    
     #home::before {
        height: calc(86% - var(--nav-height));

    }

     #home .wrapper {
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas: 
        'A B'
        'C C';
    }
    
    #home h1 {
        font-size: 5.2rem;
    }
    
    #home .content p {
        font-size: 1.8rem;
    }
    
    #home .col-a {
        text-align: left;
        align-self: center; /*alinha o elemento dentro do grid*/
    }

    #home .stats {
        grid-area: C;
        flex-direction: row;
        padding: 6rem;
        gap: 0;
    }

    /*pega um stat que anterior a ele tenha um stat*/
    #home .stats .stat + .stat {
        border-left: 1px solid var(--brand-green);
    }

    #home .stats .stat {
        flex: 1;
    }

    #home button {
        margin: 0;
    }

    #home .img-woman {
        width: 42rem;
        height: auto;
        margin-top: 0;
    }

/*---------------SERVICES---------------------------------------*/
    #services h2 {
        width: 47rem;
        margin-inline: auto;
    }
    
    #services .cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
    }

    #services .card {
        width: 30%;
        flex-grow: 1;
    }

    /*---------------ABOUT---------------------------------------*/
    #about .wrapper {
        grid-template-columns: 48rem 1fr;
        grid-template-areas: 'B A';
        gap: 6.7rem;
    }

    #about .col-a {
        align-self: center;
    }

    #about .content p {
        margin-bottom: 0;
    }

    /*---------------CONTACT---------------------------------------*/
    #contact .wrapper {
        grid-template-columns: 1fr 57.5rem;
        grid-template-areas: 'A B';
    }

    #contact h2 {
        width: 40.4rem;
    }

    /*---------------FOOTER---------------------------------------*/
    footer {
        padding-block: 8rem;
    }
    footer .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
    }

    footer .col-a {
        align-self: center;
    }

    footer .col-b {
        align-self: center;
        justify-self: flex-end;
    }

    footer p {
        margin-bottom: 0;
    }
}

